@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Bold.ttf');
  font-weight: 700;
}

@font-face {
  font-family: 'Rodger';
  src: url('../fonts/Rodger-Regular.otf');
  font-weight: 400;
}

@font-face {
  font-family: 'Rodger';
  src: url('../fonts/Rodger-Bold.otf');
  font-weight: 700;
}

$font-family-base: 'Montserrat';
$headings-font-family: 'Rodger';
$headings-font-weight: 700;
$headings-color: $blue;