@import "colors";
@import "typography";

// Basic layout

body {
  background-image: url("../images/brickwork-texture.png");
}

img {
  margin: 0;
  max-width: 100%;
}

.container {
  margin-bottom: 4em;
  background: white;
}

.frame {
  border: 10px black solid;
  border-radius: 5px;
  box-shadow: 10px 10px 10px rgba(7, 4, 4, 0.7);
}

// Header

.container--header.frame {
  background: white;
  margin: 4em auto;
  padding: 0;
  background-image: url("../images/header-background.jpg");
  background-repeat: no-repeat;
  background-position: right;
}

.header--text,
.header--logo {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.7);
}

.header--text {
  padding: 1em;
}

@media (min-width: 768px) {
  .header--logo,
  .header--text {
    display: flex;
    align-items: center;
  }
  .container--header.frame {
    background-size: auto 100%;
  }
}

@media (min-width: 992px) {
  .container--header.frame {
    display: grid;
    grid: 3fr 1fr / 1fr 1fr;
    background-size: 100% auto;
  }

  .header--text {
    grid-row: 2 / 3;
  }
}

.header--link {
  color: $secondary;
  text-decoration: underline;
}

.header--link:hover {
  color: $yellow;
}

// Carousel

// Carousel layout
.container--carousel {
  background: none;
}

.carousel-item {
  height: auto;
}

.carousel--slide-container {
  display: flex;
  margin: 0;
  flex-direction: column;
}

// Carousel image
.img-container.col-lg {
  padding: 0;
}

// Carousel text
.slide--text {
  display: flex;
  flex-direction: column;
  background: white;
  padding-top: 1em;
  padding-bottom: 2em;
  min-height: 415px;
}

.slide--text > p {
  line-height: 1.8em;
}

.slide--text > * {
  text-align: center;
}

@media (min-width: 768px) {
  .slide--text.col-lg {
    justify-content: unset;
    min-height: unset;
    padding-left: 2em;
    padding-right: 2em;
  }
}

//Carousel image

.img-container--overlay {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.3);
  &:hover {
    background: rgba(0, 0, 0, 0.5);
  }
}

.img-container--play-button {
  margin: auto;
  opacity: 1;
}

.carousel--img {
  margin: 0;
  padding: 0;
}

// Modal

.modal--close-button {
  height: 32px;
  width: 32px;
  position: absolute;
  top: -42px;
  right: 0;
  &:hover {
    -webkit-filter: drop-shadow(1px 1px 4px rgba(0, 0, 0, 0.5));
    filter: drop-shadow(1px 1px 4px rgba(0, 0, 0, 0.5));
  }
}

// Thumbnails

.thumbnail-container {
  display: flex;
  justify-content: center;
  margin-top: 4em;
  margin-bottom: 4em;
  background: none;
}

.thumbnails {
  display: none;
}

.thumbnail--arrow {
  margin-left: 10px;
  margin-right: 10px;
  filter: 1px 1px 10px rgba(0, 0, 0, 0.7);
}

@media (min-width: 992px) {
  .thumbnails {
    display: flex;
    justify-content: space-between;
  }

  .thumbnail {
    height: 120px;
    width: 120px;
    margin-right: 1em;
    border: 5px black solid;
  }
}

// Main video

.main-video-container.container {
  padding: 0;
}

// Donate CTA

.container--donate {
  display: flex;
  flex-direction: column;
}

.container--donate > h1 {
  margin-top: 1em;
  margin-bottom: 1em;
  text-align: center;
}

.donate--btn-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2em;
}

button.donate-btn {
  margin-bottom: 50px;
}

button.donate--btn {
  height: 75px;
  width: 200px;
  border-radius: 50px;
  font-family: "Rodger";
  font-size: 1.5rem;
  font-weight: 700;
  color: $blue;
  background: $yellow;
  border: none;
}

@media (min-width: 576px) {
  button.donate--btn {
    height: 100px;
    width: 250px;
    font-size: 2rem;
  }

  .donate--btn-container {
    flex-direction: row;
  }

  button.donate-btn {
    margin: 0;
  }
  button.gallery-btn {
    margin-left: 50px;
  }
}

// Instagram feed

.container--instagram-feed {
  padding-top: 15px;
  background: white;
}

.container--instagram-feed > h3,
.container--instagram-feed > p {
  text-align: center;
}

.accent {
  color: $blue;
  font-weight: 700;
}

.accent > a {
  color: $secondary;
  text-decoration: underline;
}

.container--sponsorships > h3 {
  text-align: center;
  margin-bottom: 1em;
}

.container--sponsorships {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em;
}

.sponsorships--logo-group {
  display: grid;
  width: 100%;
  grid: auto / repeat(4, 1fr);
  grid-gap: 20px;
}

.sponsorships--logo-img {
  max-height: 150px;
  grid-column: span 2;
  justify-self: center;
  align-self: center;
}

#mta {
  grid-column: span 3;
}

#gfg {
  grid-column: span 1;
}

@media (min-width: 768px) {
  .sponsorships--logo-group {
    width: 80%;
    grid: auto / repeat(6, 1fr);
  }

  #bnb {
    grid-column: span 3;
  }

  #century {
    grid-column: span 1;
  }
}

/* import bootstrap to set changes */
@import "~bootstrap/scss/bootstrap";
