body {
  background-image: url('../images/brickwork-texture.png');
}

img {
  margin: 0;
  max-width: 100%;
}

.frame {
  border: 10px black solid;
  border-radius: 5px;
  box-shadow: 10px 10px 10px rgba(7, 4, 4, 0.7);
}

.header-container {
  background: white;
  width: 100%;
  margin: 4em;
}
.carousel-item {
  height: auto;
  
}

h3 {
  text-align: center;
  margin: auto;
}


.img-container.col-md-8 {
  padding: 0;
}

.slide-img {
  max-height: 100%;
}

.slide--text {
  background: white;
  padding: 3em;
  padding-bottom: 4em;
}

.slide--text>p {
  line-height: 1.6em;
}

.play-button {
  display:flex;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0,0,0, .3);
}

.play-button:hover {
  background: rgba(0,0,0, .5);
}

.icon--play-button {
  margin: auto;
  opacity: 1;
}

.modal--close-button {
  height: 32px;
  width: 32px;
  position: absolute;
  top: -42px;
  right: 0;
    &:hover {
    -webkit-filter: drop-shadow(1px 1px 4px rgba(0,0,0,0.5));      
    filter: drop-shadow(1px 1px 4px rgba(0,0,0,0.5));  
  }
}

.thumbnail-container {
  display: flex;
  justify-content: center;
  margin-top: 4em;
  margin-bottom: 4em;
}

.thumbnails {
  display: none;
}

.thumbnail--arrow {
  margin-left: 10px;
  margin-right: 10px;
  filter: 1px 1px 10px rgba(0, 0, 0, 0.7);
}
@media (min-width: 765px) {

    .thumbnails {
    display: flex;
    justify-content: space-between;
  }

  .thumbnail {
    height: 120px;
    width: 120px;
    margin-right: 1em;
    border: 5px black solid;
  }
}

/* import bootstrap to set changes */
@import "~bootstrap/scss/bootstrap";